@use "../custom" as *;
@use "../components/mixins" as *;

.company{
@include padding-sectinos;
    .img-box-company {
            margin: 1.4rem 0;
            .campanies__logo-box {
                width: 8rem;
                height: 2rem;
                margin: auto;
                margin-bottom: .5rem;
    
                img {
                    height: 100%;
    
                    &:hover {
                        filter: grayscale(100%);
                        -webkit-filter: grayscale(100%);
                    }
                }
            }
        }
}

    


