@use "../custom" as *;
@use "../components/mixins" as *;

.get-started{
    margin-top:5rem;
    @include padding-sectinos;
    background-color: $gray-200;
    padding-bottom: 3rem;
    .info-box{
        @include gradient;
        padding:3rem;
        height: 100%;

    }
    .form{
        padding: 3rem;
    }
}