@use "../custom" as *;
@use "../components/mixins" as *;

.portfolio{
    @include padding-sectinos;
    .portfolio-project{
        border-top:.5rem solid $purple-light;
        height: 20rem;
        position: relative;
        margin-bottom: 1.5rem;
        overflow: hidden;
        
        img{
            height: 100%;
            width:100%;
        }
        .caption-project{
            position: absolute;
            height: 100%;
            width: 100%;
            background-color:rgba($primary,0.7) ;
            top:0;
            left:0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            text-transform: capitalize;
            
            }
        &:hover {
            border:none;
            .caption-project{
                    opacity: 1;
                    visibility: visible;
                    transition: 1s;
                    -webkit-transition: 1s;
                    -moz-transition: 1s;
                    -ms-transition: 1s;
                    -o-transition: 1s;
}
            img{
                transform: scale(1.5);
                -webkit-transform: scale(1.5);
                -moz-transform: scale(1.5);
                -ms-transform: scale(1.5);
                -o-transform: scale(1.5);
                transition: 1s;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
}
        }
    }
}